
@{
    ViewBag.Title = "What is this Sample Application about?";
}
<div class="container-fluid tx-about">
    <div class="row tx-h2">
        <div class="col-sm-12">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>

    <div class="col-xs-12 tx-about-wrapper">
        <div class="row">
            <div class="col-md-9 push-md-3 tx-left-content">
                <img class="tx-qr-code" src="Images/App/TripXpertQRCode.png">
                <p>
                    TripXpert is a sample application built with
                    <a href="http://www.telerik.com/products/aspnet-ajax.aspx">Telerik ® UI for ASP.NET AJAX</a>
                    . The app demonstrates how you can integrate some of the most popular controls and leverage their mobile capabilities. Telerik ASP.NET AJAX controls provide user experience tailored to the user’s screen size, so make sure you check out the app’s look and feel on different devices.
                </p>
                <p>TripXpert is a trip-planning app that enables users to:</p>

                <ul class="tx-list-users">
                    <li>Browse available trips </li>
                    <li>Discover interesting information about destinations </li>
                    <li>Browse images and videos of trips and destinations </li>
                    <li>Upload images from their own trips </li>
                    <li>View maps of the destinations’ locations </li>
                    <li>View a calendar of accommodation availability </li>
                    <li>Submit inquiries </li>
                </ul>

                <h3>What was it built with?</h3>

                <ul class="tx-controls-list">
                    <li>
                        <a href="" target="_blank">
                            <span class="tx-control-icon tx-autocomplete-icon"></span>
                            <span>Kendo UI Autocomplete</span>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <span class="tx-control-icon tx-color-picker-icon"></span>
                            <span>Kendo UI ColorPicker</span>
                        </a>
                    </li>
                </ul>

                <ul class="tx-controls-list">
                    <li>
                        <a href="" target="_blank">
                            <span class="tx-control-icon tx-menu-icon"></span>
                            <span>Kendo UI Control Name</span>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <span class="tx-control-icon tx-menu-icon"></span>
                            <span>Kendo UI Control Name</span>
                        </a>
                    </li>
                </ul>

                <h3>What are the requirements to run this sample app locally?</h3>
                <p> If you'd like to take a look behind the curtain, download the source code. You can examine and modify it to meet your project requirements. To run the sample app locally, you’ll need the respective or later version of the following products: </p>
                <p>
                    Telerik UI for ASP.NET AJAX
                    <a href="http://www.telerik.com/products/aspnet-ajax/download.aspx">Download</a>
                    <br>
                    Microsoft SQL Server Express 2008
                    <a href="http://www.microsoft.com/en-us/download/details.aspx?id=1695">Download</a>
                    <br>
                    Microsoft .NET framework 4.0
                    <a href="http://www.microsoft.com/en-us/download/details.aspx?id=17851">Download</a>
                    <br>
                </p>

                <table class="tx-support" style="float:left;">
                    <thead>
                        <tr>
                            <th>Browser Support</th>
                            <th>Windows</th>
                            <th>Mac OS</th>
                            <th>Linux</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Internet Explorer</td>
                            <td>8.0+</td>
                            <td colspan="2">N/A</td>
                        </tr>
                        <tr>
                            <td>Firefox</td>
                            <td colspan="3">Current, previous and <a href="https://www.mozilla.org/en-US/firefox/organizations/"></a>ESR</td>
                        </tr>
                        <tr>
                            <td>Google Chrome</td>
                            <td colspan="3">Current and previous</td>
                        </tr>
                        <tr>
                            <td>Opera</td>
                            <td colspan="3">15.0+(Blink) and 12.0+(Presto)</td>
                        </tr>
                    </tbody>
                </table>

                <table class="tx-support" style="float:left; margin-left:20px;">
                    <thead>
                        <tr>
                            <th>Mobile Browsers</th>
                            <th>Version</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Safari Mobile</td>
                            <td>5.0+</td>
                        </tr>
                        <tr>
                            <td>Android Native Browser</td>
                            <td>2.3+</td>
                        </tr>
                        <tr>
                            <td>Chrome Mobile</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Opera Mobile</td>
                            <td>14.0+</td>
                        </tr>
                        <tr>
                            <td>IE Mobile</td>
                            <td>10.0+</td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <div class="col-md-3 pull-md-9 tx-right-content">
                <h3>See more demos</h3>

                <div class="tx-container">
                    <h3>
                        <a href="">Responsive Web Design</a>
                    </h3>
                    <a href="">
                        <img src="Images/App/responsive_web_design.jpg" alt="Responsive Web Design">
                    </a>
                </div>

                <div class="tx-container">
                    <h3>
                        <a href="">Sales Dashboard</a>
                    </h3>
                    <a href="">
                        <img src="Images/App/sales_dashboard.jpg" alt="Sales Dachboard">
                    </a>
                </div>

                <div class="tx-container">
                    <h3>
                        <a href="">Olympic Games</a>
                    </h3>
                    <a href="">
                        <img src="Images/App/olympic_games.jpg" alt="Olympic Games">
                    </a>
                </div>

                <div class="tx-container">
                    <h3>
                        <a href="">Diagramming Tool</a>
                    </h3>
                    <a href="">
                        <img src="Images/App/diagram_tool.jpg" alt="Diagramming Tool">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

