
@{
    ViewBag.Title = "What is this Sample Application about?";
}
<div class="container-fluid tx-about">
    <div class="row tx-h2">
        <div class="col-sm-12">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>

    <div class="col-xs-12 tx-about-wrapper">
        <div class="tx-row">
            <div class="tx-left-content">
                <img class="tx-qr-code" src="Images/App/TripXpertQRCode.png">
                <p>
                    <strong>TripXpert</strong> is a sample application built with
                    <a href="http://demos.telerik.com/aspnet-mvc/">Telerik® UI for ASP.NET MVC</a>. 
                    The app demonstrates how you can integrate some of the most popular server-side wrappers for the 
                    <a href="http://demos.telerik.com/kendo-ui/">Kendo UI widgets</a> and leverage their mobile capabilities. 
                </p>
                <br />
                <p><strong>TripXpert</strong> is a trip-planning app that enables users to:</p>

                <ul class="tx-list-users">
                    <li>Browse available trips </li>
                    <li>Discover interesting information about destinations </li>
                    <li>Browse images and videos of trips and destinations </li>
                    <li>Upload images from their own trips </li>
                    <li>View maps of the destinations’ locations </li>
                    <li>View a calendar of accommodation availability </li>
                    <li>Submit inquiries </li>
                </ul>

                <h3>What was it built with?</h3>

                <ul class="tx-controls-list">
                    <li>
                        <a href="http://demos.telerik.com/aspnet-mvc/dropdownlist/" target="_blank">
                            <span class="tx-control-icon tx-dropdownlist-icon"></span>
                            <span>ASP.NET MVC DropDownList</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://demos.telerik.com/aspnet-mvc/mediaplayer/index" target="_blank">
                            <span class="tx-control-icon tx-mediaplayer-icon"></span>
                            <span>ASP.NET MVC MediaPlayer</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://demos.telerik.com/aspnet-mvc/map/index" target="_blank">
                            <span class="tx-control-icon tx-map-icon"></span>
                            <span>ASP.NET MVC Map</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://demos.telerik.com/aspnet-mvc/dialog/index" target="_blank">
                            <span class="tx-control-icon tx-dialog-icon"></span>
                            <span>ASP.NET MVC Dialog</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://demos.telerik.com/aspnet-mvc/menu/index" target="_blank">
                            <span class="tx-control-icon tx-menu-icon"></span>
                            <span>ASP.NET MVC Menu</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://demos.telerik.com/aspnet-mvc/listview/index" target="_blank">
                            <span class="tx-control-icon tx-listview-icon"></span>
                            <span>ASP.NET MVC ListView</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://demos.telerik.com/aspnet-mvc/calendar/index" target="_blank">
                            <span class="tx-control-icon tx-calendar-icon"></span>
                            <span>ASP.NET MVC Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://demos.telerik.com/aspnet-mvc/upload/index" target="_blank">
                            <span class="tx-control-icon tx-upload-icon"></span>
                            <span>ASP.NET MVC Upload</span>
                        </a>
                    </li>
                </ul>

                <ul class="tx-controls-list">
                    <li>
                        <a href="http://demos.telerik.com/aspnet-mvc/tabstrip/index" target="_blank">
                            <span class="tx-control-icon tx-tabstrip-icon"></span>
                            <span>ASP.NET MVC TabStrip</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://demos.telerik.com/aspnet-mvc/combobox/index" target="_blank">
                            <span class="tx-control-icon tx-combobox-icon"></span>
                            <span>ASP.NET MVC ComboBox</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://demos.telerik.com/aspnet-mvc/responsive-panel/index" target="_blank">
                            <span class="tx-control-icon tx-responsivepanel-icon"></span>
                            <span>ASP.NET MVC ResponsivePanel</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://demos.telerik.com/kendo-ui/validator/index" target="_blank">
                            <span class="tx-control-icon tx-validator-icon"></span>
                            <span>Kendo UI Validator</span>
                        </a>
                    </li>
                </ul>
                <br />
                <br />

                <h3>What are the requirements to run this sample app locally?</h3>
                <br />

                <p> If you'd like to take a look behind the curtain, download the source code. You can examine and modify it to meet your project requirements. To run the sample app locally, you’ll need the respective or later version of the following products: </p>
                <p>
                    UI for ASP.NET MVC
                    <a href="https://www.telerik.com/download-trial-file/v2/ui-for-asp.net-mvc">Download</a>
                    <br>
                    Microsoft SQL Server Express 2008
                    <a href="http://www.microsoft.com/en-us/download/details.aspx?id=1695">Download</a>
                    <br>
                    Microsoft .NET framework 4.0
                    <a href="http://www.microsoft.com/en-us/download/details.aspx?id=17851">Download</a>
                    <br>
                </p>
                <br />
                <table class="tx-support">
                    <thead>
                        <tr>
                            <th>Browser Support</th>
                            <th>Windows</th>
                            <th>Mac OS</th>
                            <th>Linux</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Edge</td>
                            <td>20+</td>
                            <td colspan="2">N/A</td>
                        </tr>
                        <tr>
                            <td>Internet Explorer</td>
                            <td>11+</td>
                            <td colspan="2">N/A</td>
                        </tr>
                        <tr>
                            <td>Firefox</td>
                            <td colspan="3">Current, previous and <a href="https://www.mozilla.org/en-US/firefox/organizations/"></a>ESR</td>
                        </tr>
                        <tr>
                            <td>Google Chrome</td>
                            <td colspan="3">Current and previous</td>
                        </tr>
                        <tr>
                            <td>Opera</td>
                            <td colspan="3">15.0+</td>
                        </tr>
                    </tbody>
                </table>

                <table class="tx-support" style="margin-left:20px;">
                    <thead>
                        <tr>
                            <th>Mobile Browsers</th>
                            <th>Version</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>iOS Safari</td>
                            <td>iOS 8 or later</td>
                        </tr>
                        <tr>
                            <td>Android Native Browser</td>
                            <td>2.3+</td>
                        </tr>
                        <tr>
                            <td>Chrome Mobile</td>
                            <td>21+</td>
                        </tr>
                        <tr>
                            <td>Opera Mobile</td>
                            <td>15.0+</td>
                        </tr>
                        <tr>
                            <td>IE Mobile</td>
                            <td>11.0+</td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <div class="tx-right-content">
                <h3>See more demos</h3>

                <div class="tx-container">
                    <h3>
                        <a href="http://demos.telerik.com/kendo-ui/bootstrap/">Kendo UI&reg; &hearts; Bootstrap</a>
                    </h3>
                    <a href="http://demos.telerik.com/kendo-ui/bootstrap/">
                        <img src="~/Images/App/bootstrap.png" alt="Kendo UI Bootstrap">
                    </a>
                </div>
                
                <div class="tx-container">
                    <h3>
                        <a href="http://demos.telerik.com/aspnet-mvc/webmail/">Web Mail Application</a>
                    </h3>
                    <a href="http://demos.telerik.com/aspnet-mvc/webmail/">
                        <img src="~/Images/App/web-mail.png" alt="Web Mail Application">
                    </a>
                </div>

                <div class="tx-container">
                    <h3>
                        <a href="http://demos.telerik.com/aspnet-mvc/webmail/">Stock History Dashboard</a>
                    </h3>
                    <a href="http://demos.telerik.com/aspnet-mvc/webmail/">
                        <img src="~/Images/App/stock-history.png" alt="Stock History Dashboard">
                    </a>
                </div>

                <div class="tx-container">
                    <h3>
                        <a href="http://demos.telerik.com/aspnet-mvc/olympic-games/">Olympic Games Stats</a>
                    </h3>
                    <a href="http://demos.telerik.com/aspnet-mvc/olympic-games/">
                        <img src="Images/App/olympic_games.png" alt="Olympic Games Stats">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

