
@{
    ViewBag.Title = "Attractions";
}
<div class="container-fluid tx-attractions">

    <div class="row tx-h2">
        <div class="col-sm-12">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <script type="text/x-kendo-tmpl" id="template">
        <li>
            <img src="#:ImageURL#" alt="#:Title# image" style="height:140px;width:140px; float: left; cursor:pointer" onclick="TX.showDialog(this)" />
        </li>
    </script>

    <script type="text/x-kendo-tmpl" id="AttractionInfoTemplate">
        <li class="tx-details">
            <div class="tx-details-img">
                <img src="#:ImageURL#" alt="#:ImageTitle#" style="height:320px;width:320px;" />
            </div>
            <div class="tx-details-title">
                <h4>Location</h4>
                <strong>
                    #:Location#
                </strong>
            </div>
            <div class="tx-details-desc">
                <p>
                    #:Description#
                </p>
            </div>
            <a href='@Url.Action("DestinationDetails", "Destinations")/#:DestinationID#'>
                <span class="k-icon k-i-marker-pin"></span>
                <span class="tx_icon tx_marker_icon"></span>#:DestinationTitle#
            </a>
        </li>
    </script>


</div>
<div class="row tx-img-wrapper">
    <div class="col-sm-12">
        @(Html.Kendo().ListView<TripXpert.DAL.Image>()
        .Name("AttractionImages")
        .TagName("ul")
        .ClientTemplateId("template")
        .DataSource(dataSource =>
        {
            dataSource.Read(read => read.Action("AttractionImages_Read", "Attractions"));
        })
        )
    </div>
</div>
@(Html.Kendo().Dialog()
        .Name("dialog")
        .Title("Grand Canal")
        .Visible(false)
        .Content(
            Html.Kendo().ListView<TripXpert.DAL.Image>()
            .Name("AttractionInfoListView")
            .TagName("ul")
            .Events(ev => ev.DataBound("TX.listViewDataBound"))
            .ClientTemplateId("AttractionInfoTemplate")
            .DataSource(dataSource =>
            {
                dataSource.Read(read => read.Action("AttractionInfoListView_Read", "Attractions").Data("TX.imageInfo"));
            }).ToHtmlString()
        )
        .Width(600)
        .Modal(true)
)
